@import 'config';
@import 'utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
  // color: $text-color;
  // color: black;
}

a {
  color: $text-color;
  text-decoration: none;
}
a:hover {
  color: $primary-color;
}

li {
  list-style-type: none;
}


nav {
  background-color: $dark-color; 
  height: auto; 
  padding: 10px 0;
  overflow: hidden;
  transition: height 2s;

  ul {
    display: flex;

    li {
      list-style-type: none;
      // background-color: green;
      // border: 1px solid white;
    }

    div {
      flex: 1;
    }
  }

  a {
    padding: 10px;
  }

  

}


.showcase {
  background-color: $color-four;
  height: 600px;

  &-content {
    color: $text-color;
    // background-color: yellow;
    display: flex;
    align-items: center;
    flex-basis: 100px;
    padding: 20px 80px;

    p {
      margin: 20px 0;
    }

    img {
      width: auto;
      height: 600px;
      // background-color: blue;
    }
  }
}

.tracks {
  display:  flex;
  // width: 100%;
  // background-color: yellow;
  flex-wrap: wrap;
  justify-content: space-around;
  
  .player {
    padding: 40px;
    color: rgb(156, 156, 156);
    text-align: center;

    .song-title {
      position: relative;
      padding: 5px 10px;
      display: inline-block;
      border: 1px solid rgb(199, 198, 198);
      border-radius: 20px;
      margin-bottom: 10px;
    }
    
    .progress-container {
      display: grid;
      grid-template-columns: 30px auto 30px;
      justify-items: center;
      width: 270px;

      .scrubber {
        margin: auto;
        width:  200px;
        // box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.356);
        cursor: pointer;
      }

    }
    
    .bg {
      margin: auto;
      width: 200px;
      height: 200px;
      border-radius: 5px;
      background-color: $dark-color;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.356);
      cursor: pointer;
  
      &:hover{
        background-color: rgb(87, 87, 87);
      }
      
      .paused {
        position: relative;
        width: 0;
        height: 0;
        border-left: 50px solid $play-color;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-right: 50px solid transparent;
        left: 40%;
        top: 25%;
      }
    
      .playing {
        position: relative;
        box-sizing: content-box;
        width: 20px;
        height: 80px;
        border-left: 25px solid $play-color;
        border-right: 25px solid $play-color;
        left: 65px;
        top: 60px;
    
      }
    }
  }

}

footer {
  background-color: $color-four;
  color: $text-color;
  border-radius: 10px 10px 0 0;
  

  .container {
    display: flex;
    height: 200px;

    div {
      padding-top: 30px;
      // flex-basis: 0;
      // background-color: rgb(47, 112, 155);
      // border: 5px solid greenyellow;
    }
  
    .logo {
      flex: 0 1 0;
      padding: 30px;
    }
  
    .col-1 {
      flex: 1 1 0;
      // align-self: flex-end;
    }
  
    .col-2 {
      flex: 1 1 0;
      text-align: center;


    }
  }

  .soc-media {
    height: 100px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    // background-color: blanchedalmond;
    
    a {
      text-align: center;
      padding-top: 5px;
      background-color: #548e97;
      width: 40px;
      height: 40px;
      margin: 0 5px;
      border-radius: 20px;

    }

    .fa-facebook {
      background: #3B5998;
    }

    .fa-instagram {
      background: #d43175;
    }

    .fa-github {
      background: rgb(77, 77, 77)
    }
  }
}

@import 'mobile';
@import 'buttons';
